#big-card{
  height:600px;
  width:900px;
  gap: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
  border:2px solid black;   
  margin: auto;
  margin-top:6rem;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
  background-color: aqua;
}
/* #city{
    
    display: block;
    margin:20px 0;
} */

.footer{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 12px;
    border-radius: 10px;

}





#container{
    display: flex;
    justify-items: space-between;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#results{
   
    display: flex;
    flex-direction: column; /* stack h2 elements vertically */
    align-items: center;   
    width: 45%; 
}  
#results-2{
   
    display: flex;
    flex-direction: column; /* stack h2 elements vertically */
    align-items: center;    /* center h2 horizontally */
    width: 25%; 
}  


/* #container-2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
} */

.container{
    display: flex;;
    justify-content: space-between;
}